body {
    margin: 0;
    padding: 0;
}

.header { 
    background-color: #322E18;
    padding: 10px;
}

.nav {
    color: white;
    text-align: right;
    font-size: 20px;
    word-spacing: 20px;
}

.imgnav {
    float: left;
    height: 30px;
    width: 30px;
}

.section1 {
    background-image: url('photo-1567304441104-d7a7d3e4bc1b.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    margin-top: 10px;
}
  
.titulo {
    font-size: 25px;
    color: #F7EC59;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.micara {
    height: 350px;
    width: 350px;
}  

.section-actividad {
    background-color: beige;
    margin-top: 10px;
}

.main-actividades {
    margin-bottom: 27%;
}

.main-contactos {
    margin-bottom: 25%;
}

.h1 {
    text-align: center;
    font-size: 45px;
}

.actividades-html {
    margin-left: 35%;
    margin-right: 35%;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.actividades-css { 
    margin-left: 35%;
    margin-right: 35%;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.actividades-professor {
    background-color: beige;
}


.footer {
    background-color: #847979;
    text-align: center;
    font-size: 2rem;
    color: white;
  }
  
  .footer .contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .footer .contacto > * {
    display: inline-block;
  }
  
  .footer .redes-iconos {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
  }
  
  .footer .redes-iconos img {
    display: block;
  }
  
  
  
.body-contactos {
    background-color: beige;
}

.body-actividades {
    background-color: beige;
}
