
body {
    margin: 0;
}



.header { 
    background-color: #322E18;
    padding: 10px;
    
}

.nav { color: white; 
    text-align: right; 
    font-size: 20px; 
    word-spacing: 20px;
}

.imgnav {
    float: left;
    height: 30px;
    width: 30px;
}








.section1 {
    background-image: url('photo-1567304441104-d7a7d3e4bc1b.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    margin-top: 10px;

}
  
.titulo {
    font-size: 25px;
    color: #F7EC59;
    display: flex;
    flex-direction: column;
    align-items: center;

}
  
.imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.micara {
    height: 350px;
    width: 350px;
}  





.section-actividad {
    background-color: beige;
    margin-top: 10px;
}

.section2 {
    background-color: beige;
}
  








.h1{
    text-align: center;
    font-size: 45px;
}


.actividades-html { 
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left:44%;
    width: 250px;
    height: 150px;
    margin-top: -100px;
    margin-left: -150px; 
    background-color: #ccc;
    color: #fff;
    text-align: center;
    font-size: 24px
}

.actividades-css { 
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 64%;
    width: 250px;
    height: 150px;
    margin-top: -100px;
    margin-left: -150px; 
    background-color: #ccc;
    color: #fff;
    text-align: center;
    font-size: 24px
}











.footer { 
    background-color: #847979;
    text-align: center;
    font-size: 2rem;
    word-spacing: 5rem;
}




.body-contactos {
    background-color: beige;
}



.body-actividades {
    background-color: beige;
}